# base
lxml~=4.9.3
numpy~=1.25.2
scikit-learn~=1.3.2

# medcat
blis~=0.7.11
pandas~=2.1.3
scipy~=1.9.3
scispacy~=0.5.3
medcat~=1.9.3

# aux
ctakes-parser~=0.1.0

# zensols
zensols.install~=1.1.1
zensols.nlp~=1.10.0
